.card-title{
    text-align: center;
    
}
.card-body{
    text-align: center;
}
.prodimage{
    height:190px;
    width:287px;
}
.card{
    border-radius: 10px 20px 30px;
    box-shadow: 2px 4px 2px;
    border-width: 5px 8px 10px;
    background-color: rgba(145, 236, 203, 0.372);
    
}
.card-state{
    font-weight: bold;
}
.card-text{
    font-weight: 700;

}
