<h1 style="text-align:center;font-size:32px;color:brown;background-color:rgb(218, 195, 151);">Help Center</h1><br>
<form action="">
    <fieldset style="margin-left:350px;margin-right:350px;border-radius:10px 20px;background-color:rgb(244, 235, 225);border-width:5px 10px 15px 25px;box-shadow:brown;">
        <label style="margin-left: 168px;font-size:25px;font-weight: bold;">Enter your Queries</label><br><br>
<input style="margin-left: 180px;font-size: large;" type="text" name="name" required><br>
<br>
<br>
<br>
<br>
<input style="font-size:20px;margin-left: 240px;color:blue;" type="submit">
    </fieldset>
</form>