input {
    width: 60%;
    margin-left: 100px;
}

label {
    color:red;
    margin-left: 100px;
}

form {
    padding: 20px;
    margin-left: 700px;
    width: 40%;
    border-style: inset;
    border-color: rgb(179, 20, 20);
    box-shadow: 2px 3px 4px yellow;
}


button {
    margin-left: 200px;
    text-align: center;
}

span {
    width: 100%;
}